<div class="space-y-8">
  <!-- Selector de sección -->
  <div class="max-w-xl">
    <label for="section-select" class="block text-sm font-medium text-gray-700 mb-2">
      Elije la sección que deseas editar
    </label>
    <div class="relative">
      <select 
        id="section-select"
        (change)="onSelectChange($event)" 
        class="block w-full pl-3 pr-10 py-3 text-base border-gray-300 focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 rounded-lg shadow-md background-green"
      >
        <option value="default">Sección a editar</option>
        <option value="Home">Página Principal</option>
        <option value="Facilities">Facilidades</option>
        <option value="AboutUs">Sobre Nosotros</option>
        <option value="Location">Ubicación</option>
        <option value="ContactUs">Contáctenos</option>  
      </select>
      <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
      </div>
    </div>
  </div>

  <!-- Modales de confirmación y componentes -->
  @if (typeMessage === 'success') {
    <modal-confimation  
      [isOpen]="isModalOpen()" 
      title="Éxito" 
      [showConfirmButton]="true" 
      [showCancelButton]="false"
      confirmButtonText="Aceptar" 
      (closeModal)="closeModal()"
      (confirmModal)="closeModal()"
    >
      <p class="text-white">
        {{ message }}
      </p>
    </modal-confimation>
  } @else if (typeMessage === 'error') {
    <modal-confimation  
      [isOpen]="isModalOpen()" 
      title="Error" 
      [showConfirmButton]="true" 
      [showCancelButton]="false"
      confirmButtonText="Aceptar" 
      (closeModal)="closeModal()"
      (confirm)="onModalConfirm()"
    >
      <p class="text-white">
        {{ message }}
      </p>
    </modal-confimation>
  } @else {
    <!-- Componentes de edición -->
    <div class="mt-8">
      @if(selectedOption() === 'Facilities') {
        <facilities-edit 
          [dataPage]="dataPage()" 
          (modalRequest)="onModalRequestFromChild($event)"
        ></facilities-edit>
      } 
      @if(selectedOption() === "Home") {
        <app-home-editor 
          [dataPage]="dataHomePage()" 
          (modalRequest)="onModalRequestFromChild($event)"
        ></app-home-editor>
      }
      @if(selectedOption() === 'AboutUs') {
        <app-aboutus-edit 
          [dataPageAbout]="dataPageAbout()" 
          (modalRequest)="onModalRequestFromChild($event)"
        ></app-aboutus-edit>
      }
      @if(selectedOption() === 'Location') {
        <app-location-edit 
          [dataLocationPage]="dataLocationPage()" 
          (modalRequest)="onModalRequestFromChild($event)"
        ></app-location-edit>
      }
      @if(selectedOption() === 'ContactUs') {
        <div>
          @if(dataPageContact() !== null) {
            <app-contactus-edit
              [contactData]="dataPageContact()!"
              (modalRequest)="onModalRequestFromChild($event)"
            ></app-contactus-edit>
          } 
        </div>
      } 
    </div>
  }
</div>